langchain==0.2.14
langchain-community==0.2.12
langchain-text-splitters==0.2.2
langchain-ollama==0.1.3
chromadb==0.5.5
pdfminer.six==20231228
pypdf==4.2.0
matplotlib==3.9.0
tqdm==4.66.4
flask
markdown
pymupdf
